{% extends "base.html" %}
{%block title%}Chat{%endblock title%}
{%block body%}

<div class="container mt-5 mb-5">
  <button class="btn btn-success text-white"><a href="/logout" class="text-white">Logout</a></button>
  <div id="messages">
  <div class="card mb-3 mt-5">
  <a href="#">
  <div class="card-body text-decoration-none text-black-50">
    <blockquote class=" mb-0 text-decoration-none">
      <p class="text-decoration-none">Manish dangi</p>
   <div class="d-flex justify-content-between">
    <span class="text-decoration-none">What's up</span>
    <span>20643</span>
   </div>
    </blockquote>
  </div>
  </a>
</div>
  </div>
  <div class="fixed-bottom container mb-5">
    <form>
      <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Message" aria-label="message" aria-describedby="button-addon2"id="message">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" id="submit-btn" onclick="sendMessage()">Send</button>
  </div>
</div>
    </form>
  </div>
</div>

{%endblock body%}